.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
backend/*.db
backend/uploads_tmp
backend/utils/__pycache__/data_base.cpython-39.pyc 

# Python just_in_time_compile files
*.pyc

# Database files
*.db